.details label {
	font-weight: bold;
}

.with-newlines {
  white-space: pre-wrap;
}

.smallFontSize {
    font-size: 12px;
}

.centered {
    text-align: center;
}

i.redminemsg::before {
    content: "\E8D2";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: #AB01CC;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.redmineinfo::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: #AB01CC;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketmsg::before {
    content: "\F0E5";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: #1A22A2;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketnew::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: #20CC24;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketinfo::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: #1A22A2;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}


