.details label {
    font-weight: bold;
}

.with-newlines {
    white-space: pre-wrap;
}

.smallFontSize {
    font-size: 12px;
}

.centered {
    text-align: center;
}

i.redminemsg::before {
    content: "\E8D2";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: pink;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.redmineinfo::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: pink;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketmsg::before {
    content: "\F0E5";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: blue;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketnew::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: green;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.ticketinfo::before {
    content: "\E8D3";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
    color: blue;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

/*Centrage label ticket 10892*/
.two.cell.center{
    text-align: end;
    padding-right: 20px;
}

.align-button{
    padding-left:207px;
}