<article class="twelve cell">
	<form class="row">
		<div class="row">
			<label class="two cell"><i18n>support.ticket.category</i18n></label>
			<span class="ten cell">
				<select ng-model="ticket.category" 
					ng-init="ticket.category = ticket.category || apps[0].address"
					ng-options="app.address as app.displayName for app in apps">
				</select>
			</span>
		</div>
		<div class="row" ng-hide="schools.length === 1">
			<label class="two cell"><i18n>support.ticket.school</i18n></label>
			<span class="ten cell">
				<select ng-model="ticket.school_id" 
					ng-init="ticket.school_id = schools[0].id"
					ng-options="school.id as school.name for school in schools">
				</select>
			</span>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.subject</i18n></label>
			<input class="ten cell" type="text" ng-model="ticket.subject" />
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.description</i18n></label>
			<div class="ten cell">
				<textarea ng-model="ticket.description"></textarea>
			</div>
		</div>
		<div class="row">
			<attachments apps="['workspace']" ng-model="ticket.newAttachments"></attachments>
		</div>
		<div class="row">
			<div ng-if="!ticket.processing">
				<button class="right-magnet" ng-click="createTicket()" translate content="support.ticket.save"></button>
				<button class="right-magnet cancel" ng-click="cancelCreateTicket()" translate content="support.ticket.cancel"></button>
			</div>
			<button ng-if="ticket.processing === true" class="right-magnet disabled" disabled><i18n>support.ticket.processing</i18n></button>
		</div>
	</form>
</article>