<article class="twelve cell">
	<form class="row">
		<div class="row">
			<label class="two cell"><i18n>support.ticket.category</i18n></label>
			<select class="ten cell" ng-model="ticket.category" 
				ng-init="ticket.category = ticket.category || apps[0].address"
				ng-options="app.address as app.name for app in apps">
			</select>
		</div>
		<div class="row" ng-hide="schools.length === 1">
			<label class="two cell"><i18n>support.ticket.school</i18n></label>
			<select class="ten cell" ng-model="ticket.school_id" 
				ng-init="ticket.school_id = schools[0].id"
				ng-options="school.id as school.name for school in schools">
			</select>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.subject</i18n></label>
			<input class="ten cell" type="text" ng-model="ticket.subject" />
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.description</i18n></label>
			<div class="ten cell">
				<text-editor ng-model="ticket.description"></text-editor>
			</div>
		</div>
		<div class="row">
			<attachments apps="['workspace']" ng-model="ticket.attachments"></attachments>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createTicket()" translate content="support.ticket.save"></button>
			<button class="right-magnet cancel" ng-click="cancelCreateTicket()" translate content="support.ticket.cancel"></button>
		</div>
	</form>
</article>