<article class="twelve cell details">
	<form class="row">
		<div class="row">
			<div class="six cell">
				<label class="three cell"><i18n>support.ticket.id</i18n></label>
				<span class="nine cell">[[editedTicket.id]]</span>
			</div>
			<div class="six cell">
				<label class="five cell"><i18n>support.ticket.status</i18n></label>
				<select class="six cell" ng-model="editedTicket.status"
					ng-options="object.value as object.i18nValue for (key, object) in statuses">
				</select>
				<span class="one cell"></span>
			</div>
		</div>
		<div class="row">
			<div class="six cell">
				<label class="three cell"><i18n>support.ticket.author</i18n></label>
				<span class="nine cell">[[editedTicket.owner_name]]</span>
			</div>
			<div class="six cell">
				<label class="five cell"><i18n>support.ticket.creation.date</i18n></label>
				<span class="seven cell">[[formatDate(editedTicket.created)]]</span>
			</div>
		</div>
		<div class="row">
			<div class="six cell">
				<div ng-if="schools.length === 1">
					<label class="three cell"><i18n>support.ticket.school</i18n></label>
					<span class="nine cell">[[getSchoolName(editedTicket.school_id)]]</span>
				</div>
				<div ng-if="schools.length > 1">
					<label class="three cell"><i18n>support.ticket.school</i18n></label>
					<select class="eight cell" ng-model="ticket.school_id" 
						ng-options="school.id as school.name for school in schools">
					</select>
					<span class="one cell"></span>
				</div>
			</div>
			<div class="six cell">
				<label class="five cell"><i18n>support.ticket.modification.date</i18n></label>
				<span class="seven cell">[[formatDate(editedTicket.modified)]]</span>
			</div>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.category</i18n></label>
			<select class="ten cell" ng-model="editedTicket.category" 
				ng-options="app.address as app.name for app in apps">
			</select>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.subject</i18n></label>
			<input class="ten cell" type="text" ng-model="editedTicket.subject" />
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.description</i18n></label>
			<div class="ten cell">
				<text-editor ng-model="editedTicket.description"></text-editor>
			</div>
		</div>

		<div class="row">
			<label class="two cell"><i18n>support.ticket.new.comment</i18n></label>
			<div class="ten cell">
				<text-editor ng-model="editedTicket.newComment"></text-editor>
			</div>
		</div>

		<div class="row">
			<attachments apps="['workspace']" ng-model="editedTicket.attachments"></attachments>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="updateTicket()" translate content="support.ticket.save"></button>
			<button class="right-magnet cancel" ng-click="cancelEditTicket()" translate content="support.ticket.cancel"></button>
		</div>
		<div class="clear"></div>
	</form>

	<div class="row" ng-if="editedTicket.comments !== undefined && !editedTicket.comments.isEmpty()">
		<div class="row" ng-repeat="comment in editedTicket.comments.all">
			<article class="comment reduce-block-eight">
				<a href="/userbook/annuaire#[[comment.owner]]">[[comment.owner_name]]</a>
				<em><i18n>support.on</i18n> [[formatDate(comment.created)]]</em>
				<p>[[comment.content]]</span>
			</article>
		</div>
	</div>
	
</article>