<article class="twelve cell details">
	<form class="row">
		<div class="row">
			<label class="two cell"><i18n>support.ticket.id</i18n></label>
			<span class="four cell">[[editedTicket.id]]</span>
			<label class="three cell"><i18n>support.ticket.status</i18n></label>
			<span class="three cell">
				<select ng-model="editedTicket.status"
					ng-options="object.value as object.i18nValue for (key, object) in statuses">
				</select>
			</span>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.author</i18n></label>
            <span class="four cell"> <a href="/userbook/annuaire#[[ticket.owner]]">[[ticket.owner_name]]</a>[["&nbsp;" + "(" + ticket.profile + ")"]]</span>
			<label class="three cell"><i18n>support.ticket.creation.date</i18n></label>
			<span class="three cell">[[formatDate(editedTicket.created)]]</span>
		</div>
		<div class="row">
			<div ng-if="schools.length === 1">
				<label class="two cell"><i18n>support.ticket.school</i18n></label>
				<span class="four cell">[[getSchoolName(editedTicket.school_id)]]</span>
			</div>
			<div ng-if="schools.length > 1">
				<label class="two cell"><i18n>support.ticket.school</i18n></label>
				<span class="four cell">
					<select ng-model="ticket.school_id" 
						ng-options="school.id as school.name for school in schools">
					</select>
				</span>
			</div>
			
			<label class="three cell"><i18n>support.ticket.modification.date</i18n></label>
			<span class="three cell">[[formatDate(editedTicket.modified)]]</span>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.category</i18n></label>
			<span class="ten cell">
				<select ng-model="editedTicket.category" 
					ng-options="app.address as app.displayName for app in apps">
				</select>
			</span>
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.subject</i18n></label>
			<input class="ten cell" type="text" ng-model="editedTicket.subject" />
		</div>
		<div class="row">
			<label class="two cell"><i18n>support.ticket.description</i18n></label>
			<div class="ten cell">
				<textarea ng-model="editedTicket.description"></textarea>
			</div>
		</div>

		<div class="row">
			<label class="two cell"><i18n>support.ticket.new.comment</i18n></label>
			<div class="ten cell">
				<textarea ng-model="editedTicket.newComment"></textarea>
			</div>
			<div class="ten cell right-magnet" ng-if="ticket.attachments !== undefined && !ticket.attachments.isEmpty()">
				<br>
				<span class="row" ng-repeat="attachment in ticket.attachments.all">
					<i class="attachment ng-scope"></i>&nbsp;<a href="/workspace/document/[[attachment.document_id]]">[[attachment.name]]</a>
					&nbsp;<em>[[attachment.owner_name]] <i18n>support.on</i18n> [[formatDate(attachment.created)]]</em>
				</span>
			</div>
		</div>

		<div class="row">
			<attachments apps="['workspace']" ng-model="editedTicket.newAttachments"></attachments>
		</div>
		<div class="row">
			<div ng-if="!editedTicket.processing">
				<button class="right-magnet" ng-click="updateTicket()" translate content="support.ticket.save"></button>
				<button class="right-magnet cancel" ng-click="cancelEditTicket()" translate content="support.ticket.cancel"></button>
			</div>
			<button ng-if="editedTicket.processing === true" class="right-magnet disabled" disabled><i18n>support.ticket.processing</i18n></button>
		</div>
		<div class="clear"></div>
	</form>

    <div class="row" ng-if="ticket.comments !== undefined && !ticket.comments.isEmpty()">
        <div class="row" ng-repeat="comment in ticket.comments.all | orderBy: ['created']">
            <article class="reduce-block-eight" ng-if="!comment.isHistory">
                <a href="/userbook/annuaire#[[comment.owner]]">[[comment.owner_name]]</a>
                <em><i18n>support.on</i18n> [[formatDate(comment.created)]]</em>
                <p class="with-newlines">[[comment.content]]</p>
            </article>
            <li class="row" ng-if="comment.isHistory">
                <a href="/userbook/annuaire#[[comment.owner]]">[[comment.owner_name]]</a>
                <em><i18n>support.on</i18n> [[formatDate(comment.created)]]</em>
                <br>[[comment.content]].<br>
                <i18n>support.ticket.status.histo</i18n>
                <b>[[comment.status]]</b>.
            </li><br>
        </div>
    </div>

</article>
