<H2><i18n>support.label.histo</i18n>[[ticketHisto]]&nbsp;:&nbsp;[[ticketLib]]</H2>

<table class="list-view twelve" >
    <thead>
    <tr>
        <th ng-click="switchSortBy('username')" ng-class="{'order-by-reversed': (sort.expression === 'username' && sort.reverse === false),
								'order-by': (sort.expression === 'username' && sort.reverse === true)}">
            <i18n>support.label.user</i18n>
        </th>
        <th ng-click="switchSortBy('event_date')" ng-class="{'order-by-reversed': (sort.expression === 'event_date' && sort.reverse === false),
                                'order-by': (sort.expression === 'event_date' && sort.reverse === true)}">
            <i18n>support.label.date</i18n>
        </th>
        <th ng-click="switchSortBy('event')" ng-class="{'order-by-reversed': (sort.expression === 'event' && sort.reverse === false),
								'order-by': (sort.expression === 'event' && sort.reverse === true)}">
            <i18n>support.label.event</i18n>
        </th>
        <th ng-click="switchSortBy('status')" ng-class="{'order-by-reversed': (sort.expression === 'status' && sort.reverse === false),
            'order-by': (sort.expression === 'status' && sort.reverse === true)}">
            <i18n>support.label.status</i18n>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="event in events | orderBy:sort.expression:sort.reverse">
            <td>[[event.username]]</td>
            <td>[[formatDate(event.event_date)]]</td>
            <td>[[event.event]]</td>
            <td>[[getStatusLabel(event.status)]]</td>
        </tr>
    </tbody>
</table>
