<div class="twelve cell">
	<p ng-if="tickets.isEmpty()">
		<i18n>support.ticket.empty</i18n>
	<p>
	
	<table class="list-view twelve" ng-if="!tickets.isEmpty()">
		<thead>
			<tr>
				<th class="one" ng-click="switchSortBy('id')" 
				ng-class="{'order-by-reversed': (sort.expression === 'id' && sort.reverse === false),
							'order-by': (sort.expression === 'id' && sort.reverse === true)}">
					<i18n>support.ticket.table.id</i18n>
				</th>
				<th class="one" ng-click="switchSortBy('status')" 
				ng-class="{'order-by-reversed': (sort.expression === 'status' && sort.reverse === false),
							'order-by': (sort.expression === 'status' && sort.reverse === true)}">
					<i18n>support.ticket.table.status</i18n>
				</th>
				<th class="five" ng-click="switchSortBy('subject')" 
				ng-class="{'order-by-reversed': (sort.expression === 'subject' && sort.reverse === false),
							'order-by': (sort.expression === 'subject' && sort.reverse === true)}">
					<i18n>support.ticket.table.subject</i18n>
				</th>
				<th class="one" ng-click="switchSortBy(sortCategoryFunction)" 
				ng-class="{'order-by-reversed': (sort.expression === sortCategoryFunction && sort.reverse === false),
							'order-by': (sort.expression === sortCategoryFunction && sort.reverse === true)}">
					<i18n>support.ticket.table.category</i18n>
				</th>
				<th class="two" ng-click="switchSortBy('owner_name')" 
				ng-class="{'order-by-reversed': (sort.expression === 'owner_name' && sort.reverse === false),
							'order-by': (sort.expression === 'owner_name' && sort.reverse === true)}">
					<i18n>support.ticket.table.author</i18n>
				</th>
				<th class="two" ng-click="switchSortBy('modified')" 
				ng-class="{'order-by-reversed': (sort.expression === 'modified' && sort.reverse === false),
							'order-by': (sort.expression === 'modified' && sort.reverse === true)}">
					<i18n>support.ticket.table.last.modified</i18n>
				</th>
			</tr>
			</thead>
		<tbody>
			<tr ng-repeat="ticket in tickets.all | orderBy:sort.expression:sort.reverse">
				<td class="one" ng-click="viewTicket(ticket.id)">[[ticket.id]]</td>
				<td class="one" ng-click="viewTicket(ticket.id)">[[getStatusLabel(ticket.status)]]</td>
				<td class="five" ng-click="viewTicket(ticket.id)">[[ticket.subject]]</td>
				<td class="one" ng-click="viewTicket(ticket.id)">[[getCategoryLabel(ticket.category)]]</td>
				<td class="two" ng-click="viewTicket(ticket.id)">[[ticket.owner_name]]</td>
				<td class="two" ng-click="viewTicket(ticket.id)">[[formatDate(ticket.modified)]]</td>
			</tr>
		</tbody>
	</table>
</div>