<article class="twelve cell details">
	<div class="row">
		<i18n>support.issue.title</i18n>&nbsp;
		<a ng-click="openViewTicketTemplate()">(<i18n>support.issue.display.ticket</i18n>)</a>
	</div>
	<hr/>

	<div class="row">
		<label class="two cell"><i18n>support.issue.id</i18n></label>
		<span class="four cell">[[ticket.issue.id]]</span>
		<label class="three cell"><i18n>support.issue.creation.date</i18n></label>
		<span class="three cell">[[formatDate(ticket.issue.created_on)]]</span>
	</div>
	<div class="row">
		<label class="two cell"><i18n>support.issue.status</i18n></label>
		<span class="four cell">[[ticket.issue.status.name]]</span>
		<label class="three cell"><i18n>support.issue.modification.date</i18n></label>
		<span class="three cell">[[formatDate(ticket.issue.updated_on)]]</span>
	</div>

	<div class="row">
		<label class="two cell"><i18n>support.issue.priority</i18n></label>
		<span class="ten cell">[[ticket.issue.priority.name]]</span>
	</div>
	<div class="row">
		<label class="two cell"><i18n>support.issue.subject</i18n></label>
		<span class="ten cell">[[ticket.issue.subject]]</span>
	</div>
	<div class="row">
		<label class="two cell"><i18n>support.issue.description</i18n></label>
		<span class="ten cell with-newlines">[[ticket.issue.description]]</span>
	</div>
	
	<div class="ten cell right-magnet" ng-if="ticket.issue.attachments && ticket.issue.attachments.length>0">
		<ul>
			<li class="row" ng-repeat="attachment in ticket.issue.attachments">
				<a ng-if="attachment.document_id !== null" href="/workspace/document/[[attachment.document_id]]">[[attachment.filename]]</a>
				<a ng-if="attachment.gridfs_id !== null" href="/support/gridfs/[[attachment.gridfs_id]]">[[attachment.filename]]</a>
				&nbsp;<em>[[attachment.author.name]] <i18n>support.on</i18n> [[formatDate(attachment.created_on)]]</em>
			</li>
		</ul>
	</div>

	<div ng-if="ticket.issue.showEditForm === true" class="row">
		<label class="two cell"><i18n>support.issue.new.comment</i18n></label>
		<div class="ten cell">
			<textarea ng-model="ticket.issue.newComment"></textarea>
		</div>
		<div ng-if="!ticket.issue.processing">
			<button class="right-magnet" ng-click="updateIssue()" translate content="support.issue.save"></button>
			<button class="right-magnet cancel" ng-click="cancelEditIssue()" translate content="support.issue.cancel"></button>
		</div>
		<button ng-if="ticket.issue.processing === true" class="right-magnet disabled" disabled><i18n>support.issue.processing</i18n></button>
	</div>
				
	<div ng-if="ticket.issue.journals && ticket.issue.journals.length > 0" class="row">
		<div ng-repeat="journal in ticket.issue.journals">
			<article class="reduce-block-eight" ng-if="journal.notes && journal.notes.length > 0">
				<span>[[journal.user.name]]</span>
				<em><i18n>support.on</i18n> [[formatDate(journal.created_on)]]</em>
				<p class="with-newlines">[[journal.notes]]</p>
			</article>
		</div>
	</div>

</article>