<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}support.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript"
		id="context"></script>
	<script src="/support/public/js/model.js" type="text/javascript"></script>
	<script src="/support/public/js/controller.js" type="text/javascript"></script>
	<link href="/support/public/css/additional.css" rel="stylesheet">
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="SupportController" class="support">
	<portal ng-if="!notFound">
		<div class="row">
				<div class="twelve cell">
					<div class="six cell">
						<h1>
							<a href="support#/list-tickets" ng-click="displayTicketList()">
								<i class="support"></i>
								<i18n>support.title</i18n></a>
						</h1>
					</div>
					<div class="contextual-buttons six cell">
						<div ng-if="!isCreatingOrEditingOrViewingEscalatedTicket() && !display.histo">
							<button ng-click="newTicket()" workflow="support.createTicket" class="cell right-magnet">
								<i18n>support.ticket.create</i18n>
							</button>
							<button ng-click="editTicket()" ng-if="ticket && ticket.id" class="cell right-magnet">
								<i18n>support.ticket.edit</i18n>
							</button>
						</div>
						<div ng-if="isViewingEscalatedTicket() && isEscalationActivated === true">
							<button ng-click="editIssue()" ng-if="ticket && ticket.issue && !ticket.issue.showEditForm" class="cell right-magnet">
								<i18n>support.issue.comment</i18n>
							</button>
						</div>
					</div>
                    <div class="contextual-buttons six cell">
                        <div ng-if="display.histo">
                            <button ng-click="backHisto()" class="cell right-magnet">
                                <i18n>support.histo.back</i18n>
                            </button>
                        </div>
                    </div>
				</div>
				<section ng-if="!display.histo">
					<container template="main"></container>
				</section>
                <section ng-if="display.histo">
                    <container template="histo-ticket"></container>
                </section>
        </div>
	</portal>

	<div ng-if="notFound">
		<div ng-if="!me.userId" class="centered container">
			<default-styles>
				<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
				<article>
					<div class="row">
						<i18n>support.ticket.notfound.or.unauthorized</i18n>
					</div>
					<div class="row vertical-spacing-twice">
						<button onclick="history.go(-1)"><i18n>back</i18n></button>
					</div>
				</article>
			</default-styles>
		</div>

		<div ng-if="me.userId" class="centered container">
			<portal>
				<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
				<article>
					<div class="row">
						<i18n>support.ticket.notfound.or.unauthorized</i18n>
					</div>
					<div class="row vertical-spacing-twice">
						<button onclick="history.go(-1)"><i18n>back</i18n></button>
					</div>
				</article>
			</portal>
		</div>
	</div>

</body>
</html>
